{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}

{% block body %}
<h1>Admin panel</h1>

    <div>
        <div>
            <h3>Breakfast menu</h3>
            <a href="#">Add product</a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Product 1</a>
                </li>
                <li>
                    <a href="#">Product 2</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div>
            <h3>Lunch menu</h3>
            <a href="#">Add product</a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Product 1</a>
                </li>
                <li>
                    <a href="#">Product 2</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div>
            <h3>Dinner menu</h3>
            <a href="#">Add product</a>
        </div>
        <div>
            <ul>
                <li>
                    <a href="#">Product 1</a>
                </li>
                <li>
                    <a href="#">Product 2</a>
                </li>
            </ul>
        </div>
    </div>

{% if app.user %}
    <p>
        You are logged in as: {{ last_username }}<br>
        <a href="{{ path('app_logout') }}">Logout</a>
    </p>
{% endif %}
{% endblock %}

